.navbar {
  position: fixed;
  top: 0;
  right: 0;

  width: 80px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  z-index: 10;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
