.navbar {
  position: fixed;
  top: 0;
  right: 0;

  width: 40px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  gap: 20px;
  z-index: 10;
}

.navbar button {
  width: 100%;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
