.navbar {
  position: fixed;
  top: 0;
  right: 0;

  width: auto;
  height: 100vh;
  padding-right: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
  z-index: 10;
}

.navbar button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #555;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.active {
  background-color: white;
  transform: scale(1.3);
}