/* index.css habilidades */

.skills-section {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-habilidades {
  /* border-radius: 20px;
  border: 1px solid white; */

  width: 100%;
  padding: 40px;
  gap: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background: linear-gradient(145deg,
      rgba(20, 20, 20, 0.95),
      rgba(10, 10, 10, 0.95)); */



  /* box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.04); */

}

.skills-title {
  font-size: 48px;
  font-weight: 700;
}

.skills-title span {
  color: #00ffd5;
}

.skills-description {
  max-width: 700px;
  margin: 0 auto;
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.6;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2);
  gap: 30px;
}

/* CARD */
.skill-card {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;

  /* efeito vidro */
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.skill-card:hover {
  transform: translateY(-6px);
  opacity: 1;
}

/* ÍCONE */
.skill-icon {
  font-size: 48px;
}