/* index.css habilidades */

.skills-section {
  background: #0e0e0e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;

}

.skills-subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.6;
}

.skills-title {
  font-size: 48px;
  font-weight: 700;
}

.skills-description {
  max-width: 700px;
  margin: 0 auto;
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.6;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2);
  gap: 40px;
}

/* CARD */
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-6px);
  opacity: 1;
}

/* ÍCONE */
.skill-icon {
  font-size: 48px;
}
