.skills-section {
  min-height: 100vh;
  padding: 80px 10%;
  background: #0e0e0e;
  color: white;
  text-align: center;
}

.skills-subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.skills-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.skills-description {
  max-width: 700px;
  margin: 0 auto 60px;
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.6;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2);
  gap: 40px;
}

/* CARD */
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-6px);
  opacity: 1;
}

/* ÍCONE */
.skill-icon {
  font-size: 48px;
}
