/* index.css projetos */

.projetos-section {
  height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.projetos-section h2 {
  font-size: 48px;
  font-weight: 700;
  color: #00ffd5;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.projeto-card {

  /* efeito vidro */
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projeto-links {
  display: flex;
  gap: 16px;
}

.projeto-links a {
  display: flex;
  align-items: center;
  gap: 8px;

  color: white;
  text-decoration: none;
  font-size: 14px;

  padding: 10px 14px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);

  transition: background 0.3s ease, transform 0.3s ease;
}

.projeto-links a:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}