/* index.css sobre */

/* ===== GERAL ===== */
.sobre-section {
  color: white;
  font-family: sans-serif;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== TIMELINE ===== */
.progress-container {
  position: relative;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */

}

.progress-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  background: #333;
  transform: translateY(-50%);
  border-radius: 2px;
}

.progress-fill {
  height: 100%;
  background: white;
  width: 0;
  transition: width 0.5s ease;
  border-radius: 2px;
}

.progress-steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.step-wrapper {
  position: relative;
  cursor: pointer;
}

.step-label {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}

.step {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: #555;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.3s;
}

.step.active {
  background: white;
}

/* ===== CARROSSEL ===== */
.carousel {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 900px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  /*alinha os cards horizontalmente */
  width: 100%;
  transition: transform 0.4s ease;
}

.card {
  min-width: 100%;
  /* cada card ocupa a tela */
  padding: 32px;
  box-sizing: border-box;

  background: #111;
  color: white;
  border-radius: 12px;
}


/* ===== BOTÕES ===== */
.containerBtnNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerBtnNav button {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.nav:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}