/* index.css sobre */

/* ===== GERAL ===== */
.sobre-section {
  color: white;
  font-family: sans-serif;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* ===== CARROSSEL ===== */
.carousel {
  width: 100%;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  /*alinha os cards horizontalmente */
  width: 100%;
  transition: transform 0.4s ease;
}

.card {
  min-width: 100%;
  /* cada card ocupa a tela */
  padding: 32px;
  box-sizing: border-box;

  background: #111;
  color: white;
  border-radius: 12px;
}


/* ===== BOTÕES ===== */
.containerBtnNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerBtnNav button {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.nav:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}