/* index.css contato */

.contato-section {
  height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.contato-section h2 {
  font-size: 48px;
  font-weight: 700;
  color: #00ffd5;
}

.contato-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
  background-color: transparent;
}

.contato-card a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;

  color: white;
  text-decoration: none;
  font-size: 18px;

  /* efeito vidro */
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: background 0.3s ease, transform 0.3s ease;
}

.contato-card a:hover {
  background: rgba(255, 255, 255, 0.08);
  transform: translateY(-4px);
}

.contato-card svg {
  font-size: 26px;
}