/* index.css carrosel */

/* ===== GERAL ===== */
.carrosel-section {
  color: white;
  font-family: sans-serif;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* ===== CARROSSEL ===== */
.carousel {
  width: 100%;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
  touch-action: pan-y;
}

.carousel-content {
  display: flex;
  /*alinha os cards horizontalmente */
  width: 100%;
  transition: transform 0.4s ease;
}

.card {
  min-width: 100%;
  padding: 40px;
  box-sizing: border-box;

  background: linear-gradient(
    145deg,
    rgba(20, 20, 20, 0.95),
    rgba(10, 10, 10, 0.95)
  );

  border-radius: 20px;

  /* profundidade */
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.04);

  /* borda sutil */
  border: 1px solid rgba(255, 255, 255, 0.05);

  /* animação */
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}


/* ===== Barra de progresso ===== */
.progress-line {
  height: 4px;
  width: 100%;
  background: #333;
  border-radius: 2px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: white;
  transition: width 0.3s ease;
}

/* ===== BOTÕES ===== */
.containerBtnNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerBtnNav button {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.nav:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}