/* index.css carrosel */

/* ===== GERAL ===== */
.carrosel-section {
  width: 100%;
  height: 100%;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid red; */
}

/* ===== CARROSSEL ===== */
.carousel {
  width: 100%;
  /* border: 1px solid red; */
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
  touch-action: pan-y;
}

.carousel-content {
  display: flex;
  width: 100%;
  transition: transform 0.4s ease;
}

.card {
  min-width: 100%;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: hidden;      /* 🔑 ESSENCIAL */
  position: relative;    /* 🔑 cria contexto */
  box-sizing: border-box;

}

.card div {
  min-width: 100%;
  padding: 10px;
  isolation: isolate; /* 🔑 evita bleed lateral */

  /* efeito vidro */
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card h2 {
  color: #00ffd5;
  text-align: center;
}

.carrosel-section h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.carrosel-section h1 span {
  color: #00ffd5;
}


/* ===== Barra de progresso ===== */
.progress-line {
  height: 4px;
  width: 100%;
  background: #333;
  border-radius: 2px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #00ffd5;
  transition: width 0.3s ease;
}

/* ===== BOTÕES ===== */
.containerBtnNav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  /* efeito vidro */
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.containerBtnNav button {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.nav:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}