/* app.css */

.carrosel-section { grid-area: carrosel;}

.skills-section { grid-area: habilidades;}

.contato-section { grid-area: contato;}

.projetos-section { grid-area: projetos;}

.apresentacao-section { grid-area: apresentacao; }

/* nada de scroll */
.app {
  height: 100vh;
  overflow: hidden;
  background: #0e0e0e;
}

/* viewport quem mexe no scroll */
.viewport {
  height: 100vh;
  width: 100%;
  transition: transform 0.5s ease;

  display: grid;
  grid-template-rows: repeat(3, 100vh);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "apresentacao carrosel"
    "projetos habilidades"
    "contato contato"
  ;
}

@media screen and (max-width: 600px) {
  .viewport {
    display: grid;
    grid-template-rows: repeat(5, 100vh);
    grid-template-columns: 100%;
    grid-template-areas:
      "apresentacao"
      "carrosel"
      "projetos"
      "habilidades"
      "contato"
    ;
  }
}