/* app.css */

.sobre-section {
  grid-area: sobre;
}

.skills-section {
  grid-area: habilidades;
}

.contato-section {
  grid-area: contato;
}

/* nada de scroll */
.app {
  height: 100vh;
  overflow: hidden;
  background: #0e0e0e;
}

/* viewport quem mexe no scroll */
.viewport {
  height: 100vh;
  width: 100%;
  transition: transform 0.5s ease;

  display: grid;
  grid-template-rows: repeat(3, 100vh);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "sobre habilidades"
    "projetos projetos"
    "contato contato"
  ;
}

@media screen and (max-width: 600px) {
  .viewport {
    display: grid;
    grid-template-rows: repeat(3, 100vh);
    grid-template-columns: 100%;
    grid-template-areas:
      "sobre"
      "habilidades"
      "contato"
    ;
  }

}